<header class="mx-auto">
  <article class="d-flex justify-content-center">
    <img id="kfupm-logo" src="assets/kfupm-logo.png" alt="KFUPM Logo">
    <p class="my-auto text-uppercase">COVID-19 <br>dashboard</p>
  </article>
</header>

<app-current-stats></app-current-stats>

<app-regions-table (selectCityEvent)="selectCity($event)" (selectRegionEvent)="selectRegion($event)"
  (selectTotalEvent)="selectTotal($event)" (showTotalEvent)="showTotalFlag($event)">
</app-regions-table>

<section class="mt-3">
  <app-charts *ngIf="selectedRegion" [region]="selectedRegion" [city]="selectedCity" [total]="total"
    [showTotal]="showTotal"></app-charts>
</section>
