<header class="mx-auto">
  <article class="d-flex justify-content-center">
    <img id="kfupm-logo" src="assets/kfupm-logo.png" alt="KFUPM Logo">
    <p class="my-auto text-uppercase">COVID-19<br>Saudi Arabia</p>
  </article>
</header>

<app-current-stats></app-current-stats>

<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-6 mb-4">
    <app-regions-table (selectCityEvent)="selectCity($event)" (selectRegionEvent)="selectRegion($event)"
      (selectTotalEvent)="selectTotal($event)" (showTotalEvent)="showTotalFlag($event)">
    </app-regions-table>
  </article>
  <article class="col-sm-12 col-md-12 col-lg-6">
    <app-map></app-map>
  </article>
</div>

<section class="mt-3">
  <app-charts class="col-lg-6"></app-charts>
</section>
