<div class="card">

  <!-- Loading template -->
  <ng-template #loadingBlock class="p-2">
    <div class="spinner-border text-primary my-3 align-self-center"></div>
    <p class="text-center pt-1">Fetching data...</p>
  </ng-template>

  <div class="card-body" *ngIf="isRegionsLoaded; else loadingBlock">

    <!-- TABLE -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover mb-0">
        <thead>
          <tr>
            <th>Region</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Recovered</th>
            <th>Deceased</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let region of regions">
            <td>{{ region.name }}</td>
            <td [countUp]="region.confirmed" [reanimateOnClick]="false"></td>
            <td [countUp]="region.active" [reanimateOnClick]="false"></td>
            <td [countUp]="region.recoveries" [reanimateOnClick]="false"></td>
            <td [countUp]="region.mortalities" [reanimateOnClick]="false"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
