::ng-deep svg {
  path {
    stroke: black;
    fill-opacity: 0.9;
    stroke-width: 0.3px;
    stroke-opacity: 0.5;
  }
}

::ng-deep path.region:hover {
  stroke-width: 1.5px;
  fill-opacity: 1;
  stroke-opacity: 1;
}
