<form (ngSubmit)="onSubmit()" #simulationForm="ngForm">
  <div class="form-group">
    <input
      type="text"
      name="framerate"
      id="framerate"
      class="form-control"
      [(ngModel)]="framerate"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      name="finalstep"
      id="finalstep"
      class="form-control"
      [(ngModel)]="finalStep"
    />
  </div>
  <button type="submit" class="btn btn-primary">Simulate</button>
</form>

<div class="text-center mt-4" *ngIf="isSimulating">
  <h4>Running simulation...</h4>
  <span class="spinner-border text-primary align-self-center my-auto"></span>
</div>

<div>
  <video width="500" *ngIf="src" controls autoplay class="d-block mx-auto my-4">
    <source [src]="src" type="video/mp4" />
  </video>
</div>
