<!-- REGION GRAPHS -->
<section *ngIf="regions">
  <h4 class="my-2 text-center">Spread Trends</h4>

  <div class="form-group">
    <!-- REGIONS DROPDOWN -->
    <section class="my-4 d-flex justify-content-between">
      <div class="w-50">
        <ng-select2 [data]="regionNames" [placeholder]="'Select a region...'" [value]="defaultRegion"
          [(ngModel)]="selectedRegion" (ngModelChange)="updateCharts()">
        </ng-select2>
      </div>

      <ul class="nav nav-pills my-auto justify-content-end" id="justify-center-pills-tab" role="tablist">
        <li class="nav-item display-mode">
          <a class="nav-link" data-toggle="pill" role="tab" (click)="changeDisplayMode('daily')">Daily</a>
        </li>
        <li class="nav-item display-mode">
          <a class="nav-link active" data-toggle="pill" role="tab"
            (click)="changeDisplayMode('cumulative')">Cumulative</a>
        </li>
        <li class="nav-item display-mode">
          <a class="nav-link" data-toggle="pill" role="tab" (click)="changeDisplayMode('log')">Logarithmic</a>
        </li>
      </ul>
    </section>
  </div>

  <!--  LINE CHARTS -->
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Confirmed</h5>
          <canvas *ngIf="!isRefreshing" baseChart [datasets]="confirmedLineChartData" [labels]="cumulativeLabels"
            [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Active</h5>
          <canvas *ngIf="!isRefreshing" baseChart class="p-2" [datasets]="activeLineChartData"
            [labels]="cumulativeLabels" [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Recovered</h5>
          <canvas *ngIf="!isRefreshing" baseChart class="p-2" [datasets]="recoveredLineChartData"
            [labels]="cumulativeLabels" [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Deceased</h5>
          <canvas *ngIf="!isRefreshing" baseChart class="p-2" [datasets]="deceasedLineChartData"
            [labels]="cumulativeLabels" [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-6" *ngIf="selectedRegion === 'Saudi Arabia'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Tested</h5>
          <canvas *ngIf="!isRefreshing" baseChart class="p-2" [datasets]="testedLineChartData"
            [labels]="cumulativeLabels" [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-6" *ngIf="selectedRegion === 'Saudi Arabia'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-1">Critical</h5>
          <canvas *ngIf="!isRefreshing" baseChart class="p-2" [datasets]="criticalLineChartData"
            [labels]="cumulativeLabels" [chartType]="lineChartType" [options]="cumulativeOptions">
          </canvas>
        </div>
      </div>
    </article>

  </div>
</section>
