<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>COVID-19 Dashboard | KFUPM</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.3ab22c779cf5c0604972.css"></head>

<body>
  <div class="container my-4">
    <app-root></app-root>
  </div>

<script src="runtime.acf0dec4155e77772545.js" defer></script><script src="polyfills.35a5ca1855eb057f016a.js" defer></script><script src="scripts.03c13069b61f8414660f.js" defer></script><script src="main.9bef51ef837ebbc6526b.js" defer></script></body>

</html>
